<html>
<head>

</head>
<body>
    <div>
        <div>@Html.ActionLink("Teams", "Index", "AdminTeam")</div>
        <div>@Html.ActionLink("Seasons", "Index", "AdminSeason")</div>
        <div>@Html.ActionLink("GameWeeks", "Index", "AdminGameWeek")</div>
        <div></div>
    </div>
</body>
</html>
