<connectionStrings>
  <add name="TyperContext"
       connectionString="Data Source=DESKTOP-GN78LT5\SQLEXPRESS;Initial Catalog=Typer;Persist Security Info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True;Connection Timeout=10800"
       providerName="System.Data.SqlClient" />
</connectionStrings>