@model PremierLeague.ViewModels.Models.GameWeek.VMAdminGameWeekAddGameWeek
<html>
<head>

</head>
<body>
    <div> 
        @using (Html.BeginForm("AddGameWeek", "AdminGameWeek", FormMethod.Post))
        {

        }
    </div>
</body>
</html>
